# ==========================================
# Configuración de PostgreSQL
# ==========================================
POSTGRES_IMAGE=xxx
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
POSTGRES_DB=xxx
POSTGRES_PORTS=xxx

# ==========================================
# Configuración de PgAdmin
# ==========================================
PG_ADMIN_IMAGE=xxx
PGADMIN_DEFAULT_EMAIL=xxx
PGADMIN_DEFAULT_PASSWORD=xxx
PGADMIN_PORTS=xxx

# ==========================================
# Configuración de Seq (Logging)
# ==========================================
SEQ_IMAGE=xxx
SEQ_ACCEPT_EULA=xxx
SEQ_PORT=xxx
SEQ_PORT_UI=xxx

# ==========================================
# Configuración de Redis (Caché)
# ==========================================
REDIS_IMAGE=xxx
REDIS_PORTS=xxx